*{

    margin: 0;
    padding: 0;
}

body{
    background: rgb(244,244,246);
    padding-top: 44px;
}
.DS_header {
    background: rgb(40,133,202);
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    color: white;

    width: 100%;
    left: 0;
    top: 0;
    position: fixed;

    z-index: 999;
}
.DS_second_section img{
    width: 100%;
}
footer a{
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 20%;
    background: black;
}
footer{
    display: table;
    width: 100%;
    background: yellowgreen;
    height: 49px;

    left: 0;
    bottom: 0;

    position: fixed;
}

footer a span{
    display: block;
    color: white;
    font-size: 12px;
}

footer a img{
    width: 18px;
}

.common_section img{
    width: 100%;
}

